/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"); */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: Loto sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  display: block;
}
/* header style  */
header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(3, 35, 54);
}

.logo {
  font-size: 3vw;
  margin: 0 35px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #0dbf60;
  padding: 0;
}

.logo:hover {
  cursor: pointer !important;
  color: #eee;
}
.collapse {
  margin-left: 50px;
  text-align: center;
}
.text-color {
  color: #0dbf60;
  font-weight: bold;
  font-size: 20px;
}
.text-color:hover {
  color: #eee;
}
/* section Inicio  */
#inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/fondo-inicio.jpg");

  background-size: cover;
  background-position: center center;
  min-height: 550px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#inicio h1 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#inicio p {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 1.7vw;
}

/* section proyectos */

#proyectos {
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(13, 191, 36, 0.7679446778711485) 40%,
    rgba(13, 191, 96, 1) 100%
  );
  padding-bottom: 10px;
}
#proyectos h2 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px 0 5px 0;
  margin: 0;
}
.contenedor-tarjeta {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}
.tarjeta {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 15px;
  cursor: pointer;
}
.tarjeta .face {
  position: absolute;
  width: 100%;
  height: 100%; 
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.8s;
}
.tarjeta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.tarjeta .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #0dbf60;
  background-color: #eee;

  text-align: center;
  margin-bottom: 0;
}
.tarjeta .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 2px 15px;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta .back .ver-mas {
  border-top: solid 2px #eee;
  height: 50px;
  line-height: 50px;
}
.tarjeta .back .ver-mas a {
  color: #eee;
  text-decoration: none;
  background-color: #0dbf60;
  padding: 5px 15px;
  border-radius: 5px;
}
.tarjeta .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.tarjeta .back p {
  letter-spacing: 1px;
}

/* efecto hover para la tarjeta*/

.tarjeta:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.tarjeta:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.ver-proyectos{
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}
.ver-proyectos a{
  text-decoration: none;
  color: #eee;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}
/* section habilidades */

#habilidades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/fondo-habilidades.gif");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.titulo-habilidades {
  text-align: center;
  padding: 20px 0;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0;
}

.content-habilidades {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px 10px;
  justify-content: space-between;
  padding-top: 50px;
}
.habilidad {
  max-width: 120px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.5s;
}
.habilidad img {
  width: 100%;
  border-radius: 8px;
}
.habilidad:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* parallax en el portafolio  */

.parallax {
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/parallax3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* section contacto  */

#contacto {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(13, 191, 36, 0.7679446778711485) 40%,
    rgba(13, 191, 96, 1) 100%
  );
  height: auto;
  padding-bottom: 7px;
}
#contacto h2 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px 0 15px 0;
  margin: 0;
}
/* sobre mi contacto  */
.contenedor-contacto{
  max-width: 85%;
  margin: 0 auto;
}
.descripcion-texto{
  background-color: #eee;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: 0px 5px 15px #595b5b;
  color: #2f3030;
}

.contenedor-redes {
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 40px 10px;
  justify-content: space-between;
  padding-top: 50px;
}
.icon-redes {
  width: 50px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.5s;
}
.icon-redes img {
  width: 100%;
  border-radius: 8px;
}
.icon-redes:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* final footer  */

#pie {
  height: 80px;
  background-color: rgb(3, 35, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pie p {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0;
}

/* media query movil  */
@media screen and (max-width: 352px) {
  .navbar-collapse {
    text-align: right;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
  .ver-proyectos a{
    font-size: 15px;
  }
}
@media screen and (max-width: 370px) {
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 3px;
  }
  .navbar-toggler {
    padding: 2px;
  }
  
}
@media screen and (max-width: 483px) {
  .logo {
    margin: 0 2px;
    font-size: 4.5vw;
  }
  .navbar-collapse {
    text-align: right;
  }
  .navbar-toggler {
    padding: 2px;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 443px) {
  .navbar-toggler {
    background-color: #00b7cf;
    color: #fff;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 618px) {
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-collapse {
    text-align: right;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
  .logo {
    margin: 0 5px;
    font-size: 4.5vw;
  }
  /* proyecto media query movil  */
  #proyectos {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.8) 0%,
      rgba(13, 191, 36, 0.7679446778711485) 40%,
      rgba(13, 191, 96, 1) 100%
    );
  }
  .tarjeta{
    position: relative;
    width: 320px;
    cursor: pointer;
    margin: 10px 0;
  }
  .parallax {
    height: 100px;
  }

  /* habilidades media query movil  */
  #habilidades {
    top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/imagen/fondo-habilidades.gif");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
  }
  .content-habilidades {
    max-width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px 15px;
    padding-bottom: 15px;
  }
  .habilidad {
    max-width: 100px;
  }
  /* contacto media query movil  */
  #contacto {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }
  .card-text i {
    font-size: 15px;
  }
  /* footer media query  */
  #footer {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .navbar-toggler {
    background-color: #0dbf60;
    color: #eee;
  }
  .navbar-collapse {
    text-align: right;
  }
  .logo {
    padding: 0 8px;
    font-size: 4.6vw;
    line-height: 60px;
  }
}
