/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"); */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: Loto sans-serif;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}

.btn-whats {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  padding-bottom: 10px;
}
.btn-whats-pegajoso {
  width: 100%;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #032336;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 50px;
}
.column {
  width: 450px;
}
.menu-header-logo {
  text-decoration: none;
  display: flex;
  justify-content: left;
}
.menu-header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.img-logo {
  width: 50px;
  height: 50px;
  margin: 0 15px;
  border-radius: 50%;
}
.menu-header-logo span {
  font-size: 2.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #0dbf60;
  transition: 0.5s;
}
.menu-header-logo span:hover {
  color: #ccc;
  transition: 0.5s;
}
.menu-header-logo:hover {
  transition: 0.5s;
  transform: translateY(-5px);
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
.navbar-menu .link {
  text-decoration: none;
  color: #0dbf60;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.5s;
}
.navbar-menu .link:hover {
  color: #ccc;
  transition: 0.5s;
  border-top: 3px solid #ccc;
}

/* section Inicio  */
#inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/fondo-inicio.jpg");

  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#inicio h1 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#inicio p {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 1.7vw;
}

/* section proyectos */

#proyectos {
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(13, 191, 36, 0.7679446778711485) 40%,
    rgba(13, 191, 96, 1) 100%
  );
  padding-bottom: 10px;
}
#proyectos h2 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 30px 0;
  margin: 0;
}
.contenedor-tarjeta {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 30px 50px;
}
.tarjeta {
  position: relative;
  width: 300px;
  height: 280px;
  cursor: pointer;
}
.tarjeta .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.8s;
}
.tarjeta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.tarjeta .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #0dbf60;
  background-color: #eee;

  text-align: center;
  margin-bottom: 0;
}
.tarjeta .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 0px 10px;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta .back .ver-mas {
  border-top: solid 2px #eee;
  height: 50px;
  line-height: 50px;
}
.tarjeta .back .ver-mas a {
  color: #eee;
  text-decoration: none;
  background-color: #0dbf60;
  padding: 5px 15px;
  border-radius: 5px;
}
.tarjeta .back h3 {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.tarjeta .back p {
  letter-spacing: 1px;
  margin: 0;
}

/* efecto hover para la tarjeta*/

.tarjeta:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.tarjeta:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.ver-proyectos {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}
.ver-proyectos a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}
/* section habilidades */

#habilidades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/fondo-habilidades.gif");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 10px;
}

.titulo-habilidades {
  text-align: center;
  padding: 20px 0;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0;
}

.content-habilidades {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px 10px;
  justify-content: space-between;
  padding-top: 50px;
}
.habilidad {
  max-width: 120px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.5s;
}
.habilidad img {
  width: 100%;
  border-radius: 8px;
}
.habilidad:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* parallax en el portafolio  */

.parallax {
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imagen/parallax3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* section contacto  */

#contacto {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(13, 191, 36, 0.7679446778711485) 40%,
    rgba(13, 191, 96, 1) 100%
  );
  height: auto;
  padding-bottom: 7px;
}
#contacto h2 {
  text-align: center;
  color: #eee;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px 0 15px 0;
  margin: 0;
}
/* sobre mi contacto  */
.contenedor-contacto {
  max-width: 85%;
  margin: 0 auto;
}
.descripcion-texto {
  background-color: #eee;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: 0px 5px 15px #595b5b;
  color: #2f3030;
}

.contenedor-redes {
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 40px 10px;
  justify-content: space-between;
  padding-top: 50px;
}
.icon-redes {
  width: 50px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.5s;
}
.icon-redes img {
  width: 100%;
  border-radius: 8px;
}
.icon-redes:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* final footer  */

#pie {
  height: 80px;
  background-color: rgb(3, 35, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pie p {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0;
}

/* media query movil  */

@media screen and (max-width: 950px) {
  .btn-whats{
    bottom: 10px;
    right: 10px;
  }
  .menu-header {
    flex-direction: column;
    padding-top: 10px;
  }
  .menu-header-logo {
    justify-content: center;
  }
  .menu-header-logo img {
    width: 50px;
    height: 50px;
  }
  .menu-header-logo span {
    font-size: 25px;
  }
  .navbar-menu {
    padding-bottom: 10px;
    justify-content: center;
  }
  .navbar-menu .link {
    padding: 0 5px;
    font-size: 15px;
  }
  .contenedor-tarjeta{
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .btn-whats{
    bottom: 10px;
  right: 10px;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
  /* proyecto media query movil  */
  #proyectos {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.8) 0%,
      rgba(13, 191, 36, 0.7679446778711485) 40%,
      rgba(13, 191, 96, 1) 100%
    );
  }
  .contenedor-tarjeta{
    flex-direction: column;
    gap: 0 5px;
  }
  .tarjeta {
    width: 320px;
    cursor: pointer;
    margin: 10px 0;
  }
  .ver-proyectos {
    text-align: center;
  }
  .parallax {
    height: 100px;
  }


  /* habilidades media query movil  */
  #habilidades {
    top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/imagen/fondo-habilidades.gif");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
  }
  .content-habilidades {
    max-width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px 15px;
    padding-bottom: 15px;
  }
  .habilidad {
    max-width: 100px;
  }
  /* contacto media query movil  */
  #contacto {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }
  .card-text i {
    font-size: 15px;
  }
  /* footer media query  */
  #footer {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
  }
}
@media screen and (max-width: 512px) {
  .menu-header{
   padding: 0;
  }
  .menu-header-logo {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .menu-header-logo img {
    width: 40px;
    height: 40px;
  }
  .column{
    width: 100%;
  }
  .btn-whats{
    bottom: 10px;
  right: 10px;
  }
}
@media screen and (max-width: 443px) {
  #inicio h1 {
    letter-spacing: 7px;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 352px) {
  .btn-whats{
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    padding: 0;
  }
  .menu-header {
    padding: 8px 0;
  }
  .menu-header-logo{
    padding-top: 0;
  }
  .column{
    width: 100%;
  }
  #inicio p {
    font-size: 2.7vw;
    letter-spacing: 5px;
  }
  .ver-proyectos a {
    font-size: 15px;
  }
}
